$primary-color: #42567A;  // Основной цвет (темно-синий)
$secondary-color: #3877EE; // Вторичный цвет (синий)
$tertiary-color: #5D5FEF;  // Третий цвет (фиолет)
$accent-color: #EF5DA8;    // Акцентный цвет (розовый)
$accent-color-mobile: #F178B6;    // Акцентный цвет (розовый)
$background-color: #F4F5F9;  // Легкий фон
$line-color: rgb(66, 86, 122, 0.1); // Цвет линий для сетки и границ
$ellipse-border-color: rgb(66, 86, 122, 0.2); // Цвет эллипса
$transparent: transparent; // Цвет эллипса
$category-point-border-color: rgb(48, 62, 88, 0.5); // Цвет точек категорий
$white-color: #fff; // Белый цвет
$shadow-color: rgb(56, 119, 238, 0.1); // Цвет тени
$shadow-color-hover: rgb(56, 119, 238, 0.5); // Цвет тени при наведении
$mobile-divider-color: #C7CDD9;